            .main {
                width: 45%;
                background-color: #051937;
                color: white;
                margin: 30px;
            }
            
            label {
                font-size: 30px;
            }
            
            input {
                width: 20rem;
                height: 2rem;
                margin: 20px;
            }
            
            section {
                display: flex;
                justify-content: none;
            }
            
            .main-body {
                width: 45%;
                background-color: #051937;
                color: white;
                margin: 30px;
            }
            
            table {
                width: 20rem;
                height: 2rem;
                margin: 30px;
                font-size: 20px;
                padding: 30px;
            }
            
            table,
            th,
            td {
                padding: 20px;
            }
            
            h1 {
                justify-content: center;
            }